* {
    /* フォント指定 */
    font-family: sans-serif;
}

.header-title {
    margin: 10px;
}

/* 入力フォーム（number） */
/* デザイン変更 */
input[type="number"] {
    background: none;
    border: 2px #113311 solid;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-weight: 600;
    font-size: 1.125rem;
}

input[type="number"]:focus {
    outline: none;
    background-color: #ccffcc;
}

/* 数値の調整用ボタンの非表示 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* チェックボックスのデザインCSS */
/* 
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    float: left;
    text-align: center;

    height: 2.5rem;
    line-height: 2.5rem;
    padding: 5px;

    cursor: pointer;
    color: #113311;
    border: 2px solid #113311;
    border-radius: 0;
}

input[type="checkbox"]:checked+label {
    color: #ffffff;
    background-color: #113311;
}
 */


/* タイトル */
.header-title {
    text-align: center;
}

/* メインコンテンツ */
.main-block {
    margin: 0 auto;
    width: 95%;
    max-width: 960px;
}

.block-flex {
    margin: 5px auto;
    display: flex;
}

/* 小分けのコンテンツブロック */
.content-block {
    padding: 5px;
    border: 2px #113311 dashed;
}

.info-item {
    margin: 5px;
    font-weight: 600;
}

/* メディアクエリ（スマートフォン用）*/
@media (max-width: 768px) {

    /* 縦並び用 */
    .block-flex {
        flex-wrap: wrap;
        flex-direction: column;
    }
}