input[type=checkbox] {
    display: none;
}

#label-plus {
    position: relative;
    padding: 0;
    padding: 16px;
}


#label-plus:after,
#label-plus:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
}

#label-plus:after {
    margin-top: -10px;
    width: 15px;
    height: 15px;
    border: 2px solid #113311;
    border-radius: 0;
}

#label-plus:before {
    left: 5.5px;
    margin-top: -8px;
    width: 5px;
    /* ボックスの横幅を指定する */
    height: 9px;
    /* ボックスの高さを指定する */
    border-right: 3px solid #113311;
    /* 境界線（右）のスタイルを指定する */
    border-bottom: 3px solid #113311;
    /* 境界線（下）のスタイルを指定する */
    transform: rotate(45deg);
    /* 要素を回転させる */
    opacity: 0;
    /* 要素を透過指定する */
}

input[type=checkbox]:checked+#label-plus:before {
    opacity: 1;
}


input[type=checkbox]:hover+#label-plus:before {
    opacity: 1;
    border-right: 3px solid #66bb66;
    border-bottom: 3px solid #66bb66;
}


.block-input,
.block-output {
    margin: 5px;

    width: 50%;
    min-width: 240px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-block {
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {

    .block-input,
    .block-output {
        width: calc(100% - 10px);
    }
}