/* チェックボックスの設定CSS */
input[type=checkbox] {
    display: none;
}

/* チェックボックスのラベル */
#label-plus {
    position: relative;
    padding: 0;
    padding: 16px;
}

#label-plus:after,
#label-plus:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
}

/* チェックボックスの枠線 */
#label-plus:after {
    margin-top: -10px;
    width: 15px;
    height: 15px;
    border: 2px solid #113311;
    border-radius: 0;
}

/* チェックマーク */
#label-plus:before {
    left: 5.5px;
    margin-top: -8px;
    width: 5px;
    height: 9px;

    border-right: 3px solid #113311;
    border-bottom: 3px solid #113311;

    transform: rotate(45deg);

    opacity: 0;
}

/* チェック時 */
input[type=checkbox]:checked+#label-plus:before {
    opacity: 1;
}

/* マウスホバー時 */
input[type=checkbox]:hover+#label-plus:before {
    opacity: 1;
    border-right: 3px solid #66bb66;
    border-bottom: 3px solid #66bb66;
}


.block-input,
.block-output {
    margin: 5px;

    width: 50%;
    min-width: 240px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:768px) {

    .block-input,
    .block-output {
        width: calc(100% - 10px);
    }
}