.block-input,
.block-output {
    margin: 5px;

    width: 50%;
    min-width: 240px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-output {
    justify-content: start;
}

@media screen and (max-width:768px) {

    .block-input,
    .block-output {
        width: calc(100% - 10px);
    }

    /* 縦並び用 */
    .block-flex {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}